.btnguardar{
    margin-top: 20px;
}
.titulo{
    margin-top: 30px;
}
.label_master{
    margin-top: 20px;
}
.div_contenedor{
    margin-bottom: 30px;
}
.div_contenedor_top{
    margin-top: 30px;
}
.div_contenedor_bottom{
     margin-bottom: 30px;
 }

.contenedor_padrex{
    max-width: 90%;
    display: flex;
    flex-wrap: wrap;
}

.div_contenedor_left{
    margin-left: 50px;
}

